<div class="fuse-toolbar-travel-options">
<div fxFlex fxLayout="row"  class="travel-options" fxLayoutAlign="space-between center" >
    <div  class="request-center-btn white cursor-hand" fxLayoutAlign="center center" fxFlex="35" (click)="checkVoucher()"  >
        <span class="title">کد تخفیف </span>
        <mat-icon  class="mat-icon" aria-hidden="true">attach_money</mat-icon>
    </div>
    <div  class="driver-detail-top-price white"  fxFlex="30" fxLayoutAlign="center center"   >
        <span class="title" >مبلغ : {{price}} ریال</span>
    </div>
    <div  class="request-center-btn white cursor-hand" fxLayoutAlign="center center" fxFlex="35" (click)="travelOptions()"  >
        <span class="title">گزینه های سفر</span>
        <mat-icon  class="mat-icon" aria-hidden="true">reorder</mat-icon>
    </div>
</div>
</div>
