    <div class="plate-ui ">
        <div class="plate-1">
          <span>{{numbers.substr(2, 5)}}</span>
            <span>{{character}}</span>
            <span>{{numbers.substr(0, 2)}}</span>
        </div>
        <span class="p-0 m-0" style="display: flex;flex-direction: column;">
       <span class="p-0 m-0" style="font-size: .3em;height:10px;display: flex;">ایــــران</span>
       <span class="p-0 m-0 " style="font-size: .7em;display: flex;">
          {{section}}
      </span>
    </span>
    </div>
