<div fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch" >
<div fxLayout="row" >
<div fxFlexFill fxLayout="column" >
    <div fxLayout="row"  class="driver-ride-options" fxLayoutAlign="space-between stretch"  >
        <div fxLayout="column" fxLayoutAlign="center center"  fxFlex="grow" >
            <iranian-plate [vehicleNumber]="rideDetails?.vVehicleRegistrationNumber" ></iranian-plate>
            <div class="driver-ride-options"><span class="title">خودرو :</span><span>{{rideDetails?.vVehicleMakeModel}} {{rideDetails?.vColorCar}}</span></div>
            <div class="driver-ride-options"><span class="title"> هزینه سفر شما :</span><span> {{price}} ریال</span></div>
            <!--
                                <div><span class="title">زمان تقریبی :</span><span>۷ دقیقه</span></div>
            -->
        </div>
        <div  fxLayout="column" fxLayoutAlign="center center" class="driver-ride-detail" fxFlex="grow"  >
            <div class="avatar-container">
           <!--     <img class="avatar" src="{{rideDetails?.vDriverProfile}}">-->
               <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
            </div>
            <div><span  class="title">راننده:</span> <span>{{rideDetails?.vDriverName}}</span></div>
        </div>
    </div>
    <div fxLayout="row"  class="footer-travel-options" fxLayoutAlign="space-between stretch">
        <div  class="option-btn primary-700 cursor-hand" fxLayoutAlign="center center" fxFlex="grow" (click)="payOnline()" >
            <span>پرداخت آنلاین</span>
            <mat-icon  class="mat-icon" aria-hidden="true">attach_money</mat-icon>
        </div>
        <div  class="option-btn primary cursor-hand" fxLayoutAlign="center center" fxFlex="grow"  (click)="callWithDriver(rideDetails?.vDriverMobile)" >
            <span>تماس با راننده</span>
            <mat-icon  class="mat-icon" aria-hidden="true">phone</mat-icon>
        </div>
    </div>
</div>
</div>
</div>