<div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto" dir="rtl">
    <h1 mat-dialog-title>دلایل لغو سفر</h1>

    <mat-form-field appearance="outline" fxFlex="auto">
        <mat-label>دلایل لغو سفر</mat-label>
        <mat-select  (click)="getWaitTypesList($event)" placeholder="زمان" [value]="selectedOption" >
            <ng-container *ngIf="reasonList !== null && reasonList?.length && (!isLoading); else loading">
                <mat-option *ngFor="let reasons of reasonList" [value]="reasons?.reason">
                    {{reasons?.reason}}
                </mat-option>
            </ng-container>
            <ng-template #loading>
                <mat-option disabled>
                    <div class="container">
                        <span>در حال بارگذاری...</span>
                        <mat-spinner class="spinner" diameter="20"></mat-spinner>
                    </div>
                </mat-option>
            </ng-template>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="setCancelResons(selectedOption)">ثبت</button>
</div>
