@import "src/@fuse/scss/fuse";
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-search/dist/leaflet-search.min.css';
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";


#map {
    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;
        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

    }

}

 .my-pin{
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
}
 .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-top: 80px;
}
 .leaflet-control-layers-expanded{
    padding: 0px;
}
 div#my-location {
    margin-bottom: 50px;
}
.pin{
    width: 50px !important;
    height: 70px !important;
}
.currentLocation{
    width: 50px !important;
    height: 70px !important;
}
.vehicle-icons{
    width: 25px !important;
    height: 40px !important;
}
.search-input {
    font-family:Courier
}
.search-input,
.leaflet-control-search {
    max-width:400px;
}